{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<style>
    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');




    @keyframes modalopen {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* #modalInner {
        flex: 70%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border-right: 1px solid white;
    } */

    .seatPrice {
        flex: 30%;
        list-style: none;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
    }

    .seatPrice li {
        margin-top: 15px;
        margin-bottom: 15px;

    }

    @media screen and (max-width: 970px) {
        .modalContent {
            flex-direction: column;
        }

        #modalInner {
            border-right: none;
        }

        .seatPrice {
            margin-left: 0;
            margin-top: 20px;
            text-align: center;
        }
    }

    .showcase {
        width: fit-content;
    }

    /* .container {
        perspective: 1000px;
        margin-bottom: 30px;
        padding: 20px;
    } */

    .seat {
        background-color: #f83030;
        height: 12px;
        width: 15px;
        margin: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .seat.selected {
        background-color: #fff;
    }

    .seat.occupied {
        background-color: #444451;
    }

    .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .showcase .seat:not(.occupied):hover {
        cursor: default;
        transform: scale(1);
    }

    .showcase {
        background: rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    .showcase li small {
        margin-left: 2px;
    }

    .row {
        display: flex;
    }
</style>
<div class="container card" style="margin-top: 50px;">

    <h2 class="text-center"><strong class="text-warning">Show: </strong>{{ movie.name }}</h2>



    <hr>



    <table class="table">
        <thead>

            <tr>

                <th scope="col" style="font-size: 20px;">Theater Name</th>

                <th scope="col" style="font-size: 20px;">Hall Type</th>
                <th scope="col" style="font-size: 20px;">Time </th>
                <th scope="col" style="font-size: 20px;">Date</th>
                <th scope="col" style="font-size: 20px;">Cost</th>
            </tr>

        </thead>
        <tbody>
            {% for show in shows %}
            <tr>

                <td style="font-size: 15px;">{{ show.hall.theatre.name }}</td>
                <td style="font-size: 15px;">{{ show.hall.hall_type }}</td>
                <td style="font-size: 15px;"><a href="#" class="book">{{ show.get_time_display }}</a></td>
                <td style="font-size: 15px;">{{ show.date }}</td>
                <td style="font-size: 15px;" class="text-primary"> {{ show.rate }} /Ksh </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <form id="bookTicketDiv" action="">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Book
                </button>
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <a class="btn btn-warning" href="{%url 'allTickets' %}">Checkout</a>
            </form>
        
        </div>
    </div>
    
  

</div>


<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content modalcard">
            <div class="modal-header">
                <h5 class="modal-title" id="imageheader">Choose Seats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <!-- <div class="modalContent">

                            <div id = "modalInner"> -->
                    <ul class="showcase">

                        <li>
                            <div class="seat"></div>
                            <small>N/A</small>
                        </li>

                        <li>
                            <div class="seat selected"></div>
                            <small>Selected</small>
                        </li>

                        <li>
                            <div class="seat occupied"></div>
                            <small>Occupied</small>
                        </li>

                    </ul>

                    <div class="container">
                        <div class="screen"></div>

                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>

                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat occupied"></div>
                            <div class="seat occupied"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>

                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat occupied"></div>
                            <div class="seat occupied"></div>
                        </div>

                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>

                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat occupied"></div>
                            <div class="seat occupied"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                        </div>

                        <div class="row">
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat"></div>
                            <div class="seat occupied"></div>
                            <div class="seat occupied"></div>
                            <div class="seat occupied"></div>
                            <div class="seat"></div>
                        </div>

                    </div>

                    <form id="bookTicketDiv" action="{% url 'allTickets' %}" method="post">
                        <button form="bookTicketDiv" type="submit" id="processRequest"> Book </button>
                    </form>


                    <div class="modal-footer">
                        <a href="/">Exit</a>
                    </div>
                </div>







            </div>

            {%endblock%}