{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}


<div class="container-fluid" style="background-image: url('https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vdmllJTIwdGhlYXRyZSUyMHNlYXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
background-repeat: no-repeat; background-position: center center; background-size: cover; height: 90vh;" >
<a href="{%url 'movies'%}" class="btn btn-default">Get Started</a>
</div>

{%endblock%}


