{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

<div class="container-fluid" style="background-image: url('https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vdmllJTIwdGhlYXRyZSUyMHNlYXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
background-repeat: no-repeat; background-position: center center; background-size: cover; height: 50vh;">
    <div class="jumbotron text-center" style="background: transparent; height: 40vh;">
        <h1 style="color: #d68c45; font-family: 'Gloria Hallelujah', cursive; font-size: 70pt;">Movie Plus </h1>
        <h2 style="color: white;">Watch all the latest movies/series</h2>
        <h2 style="color: white;">All in One Place</h2>
        <a href="{%url 'movies'%}" class="btn btn-primary">Get Started</a>
    </div>

</div>
<div class="container-fluid" style="
 height: 50vh; margin-top: 5vh;">
    <div class="row>">
        <div class="col-md-3"
            style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGOS8SMukWPn33_N0Y7cOX3Gj2rwslM3EpLA&usqp=CAU');
background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 40vh; margin-left: 40px;">

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="background-image: url('https://images.pexels.com/photos/7991369/pexels-photo-7991369.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 40vh;">

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="background-image: url('https://images.pexels.com/photos/1182127/pexels-photo-1182127.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 40vh;">

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<style>
    @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

    body {
        font-family: 'Alegreya Sans', sans-serif;
    }

    /* Sticky footer position and size
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 300px;
    }

    .footer {
        position: absolute;
        margin-bottom: 0;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 200px;
    }

    /* Taller footer on small screens */
    @media (max-width: 567em) {
        body {
            margin-bottom: 400px;
        }

        .footer {
            height: 400px;
            margin-bottom: 0px;
            position: absolute;
        }
    }
    html {
        position: relative;
        min-height: 100%;
    }

    /* Sticky footer style and color
-------------------------------------------------- */
    footer {
        padding-top: 30px;
        background-color: #292c2f;
        color: #bbb;
    }

    footer a {
        color: #999;
        text-decoration: none;
    }

    footer a:hover,
    footer a:focus {
        color: #aaa;
        text-decoration: none;
        border-bottom: 1px dotted #999;
    }

    footer .form-control {
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        color: #d1d2d2;
        padding: 0.7em 1em;
    }


    /* Credits: https://www.codeply.com/p/EJd6H4Ejyi */
</style>

<footer class=" container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-road"></i> ACME CO INC.</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Product</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>

</footer>


{%endblock%}